# Ignore everything by default
*

# Allow these files
!.gitignore
!README.md

# Allow the path to src and all contents
!File Server/
!File Server/task/
!File Server/task/src/
!File Server/task/src/**
